@page ""
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
<br />







<hr />
<table>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.name)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByDesc"]">@Html.DisplayNameFor(model => model.desc)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.pric)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.stat)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.Brand)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.Size)</a>
        </th>





    </tr>

    @foreach (var item in Model.prod)
    {
        <tr>

            <td>@item.name  </td>
            <td>@item.Description  </td>
            <td>@item.price</td>
            <td>@item.status</td>
            <td>@item.Brand</td>
            <td>@item.Color  </td>



            <td>



                <div class="col-lg-1">
                    <form asp-page-handler="Basket" method="post">
                        <button class="btn btn-primary">Læg varer i kurv</button>
                    </form>
                </div>





        </tr>



    }
</table>

<hr />
<form method="get">
    <input type="submit" asp-page="./Create" class="btn btn-primary" value="Opret Varer" />
</form>


<hr />

SØGNING på FRITEKST
<hr />





<table>
    <tr>
        <td>
            <form asp-page-handler="Search" method="post">
                <div class="form-actions no-color">
                    <p>
                        Søgning på beskrivelse: <input type="text" name="SearchString" value="@ViewData["Description"] " />
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="Index">tilbage til den forrige liste</a>
                    </p>
                </div>
            </form>
        </td>
    </tr>
</table>
<hr />
<table>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.name)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByDesc"]">@Html.DisplayNameFor(model => model.desc)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.pric)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.Brand)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.Color)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.stat)</a>
        </th>





    </tr>
    @foreach (var item1 in Model.prod2)
    {
        <tr>
            <td>@item1.name  </td>
            <td>@item1.Description  </td>
            <td>@item1.price</td>
            <td>@item1.Brand</td>
            <td>@item1.Color  </td>

            <td>@item1.status</td>

        </tr>
    }
</table>

<hr />

Sortering Nedadgående(DSC)
<hr />

<table>
    <tr>
        <td>
            <form asp-page-handler="SearchDSC" method="post">
                <div class="form-actions no-color">
                    <p>
  
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="Index">tilbage til den forrige liste</a>
                    </p>
                </div>
            </form>
        </td>
    </tr>
</table>
<hr />

<table>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.name)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByDesc"]">@Html.DisplayNameFor(model => model.desc)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.pric)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.Brand)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.Color)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.stat)</a>
        </th>





    </tr>
    @foreach (var item1 in Model.prod2)
    {
        <tr>
            <td>@item1.name  </td>
            <td>@item1.Description  </td>
            <td>@item1.price</td>
            <td>@item1.Brand</td>
            <td>@item1.Color  </td>

            <td>@item1.status</td>

        </tr>
    }
</table>

<hr />

Sortering Nedadgående(ASC)
<hr />

<table>
    <tr>
        <td>
            <form asp-page-handler="SearchASC" method="post">
                <div class="form-actions no-color">
                    <p>
                       
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="Index">tilbage til den forrige liste</a>
                    </p>
                </div>
            </form>
        </td>
    </tr>
</table>
<hr />
<table>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.name)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByDesc"]">@Html.DisplayNameFor(model => model.desc)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.pric)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.Brand)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.Color)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.stat)</a>
        </th>





    </tr>
    @foreach (var item1 in Model.prod2)
    {
        <tr>
            <td>@item1.name  </td>
            <td>@item1.Description  </td>
            <td>@item1.price</td>
            <td>@item1.Brand</td>
            <td>@item1.Color  </td>

            <td>@item1.status</td>

        </tr>
    }
</table>

<hr />


<table>
    <tr>
        <td>
            <form asp-page-handler="SearchDSC" method="post">
                <div class="form-actions no-color">
                    <p>
                        Søgning på beskrivelse: <input type="text" name="SearchString" value="@ViewData["Description"] " />
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="Index">tilbage til den forrige liste</a>
                    </p>
                </div>
            </form>
        </td>
    </tr>
</table>

<hr />

        Sortering Gruppering.
<hr />

<table>
    <tr>
        <td>
            <form asp-page-handler="SearchGroup" method="post">
                <div class="form-actions no-color">
                    <p>
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="Index">tilbage til den forrige liste</a>
                    </p>
                </div>
            </form>
        </td>
    </tr>
</table>

<hr />


<table>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.name)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByDesc"]">@Html.DisplayNameFor(model => model.desc)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.pric)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.Brand)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.Color)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.stat)</a>
        </th>





    </tr>
    @foreach (var item1 in Model.prod2)
    {
        <tr>
            <td>@item1.name  </td>
            <td>@item1.Description  </td>
            <td>@item1.price</td>
            <td>@item1.Brand</td>
            <td>@item1.Color  </td>

            <td>@item1.status</td>

        </tr>
    }
</table>










<hr />

    Søgning på Brand:

<hr />


<table>
    <tr>
        <td>
            <form asp-page-handler="SearchBrand" method="post">
                <div class="form-actions no-color">
                    <p>
                        Søgning på beskrivelse: <input type="text" name="SearchString" value="@ViewData["Description"] " />
                        <input type="submit" value="Search" class="btn btn-default" /> |
                        <a asp-action="Index">tilbage til den forrige liste</a>
                    </p>
                </div>
            </form>
        </td>
    </tr>
</table>




<table>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.name)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByDesc"]">@Html.DisplayNameFor(model => model.desc)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.pric)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortByPrice"]">@Html.DisplayNameFor(model => model.Brand)</a>
        </th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.Color)</a>
        </th>


        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["SortBySTAT"]">@Html.DisplayNameFor(model => model.stat)</a>
        </th>





    </tr>
    @foreach (var item1 in Model.prod2)
    {
        <tr>
            <td>@item1.name  </td>
            <td>@item1.Description  </td>
            <td>@item1.price</td>
            <td>@item1.Brand</td>
            <td>@item1.Color  </td>

            <td>@item1.status</td>

        </tr>
    }
</table>

<hr />
















