@page
@model Web1.Pages.ShopbasketModel
@{
    ViewData["Title"] = "Shopbasket";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}



<h1>indkøbskurv</h1>

<hr />

<table>
    <tr>


        <td> navn </td>

        <td> OrderLines</td>
        <td> Antal</td>
    </tr>

</table>
<table>
    @foreach (var item in Model.SB)
    {
        <tr>

            <td>@item.Name</td>
            <td>@item.OrderLines</td>
            <td>@item.Quantity</td>
            <td>
  
                <div class="col-lg-1">
                    <form asp-page-handler="Basket" method="post">
                        <button class="btn btn-primary" asp-route-id="@item.ClothingID">Læg varer i kurv</button>
                        <button class="btn btn-primary">Læg varer i kurv</button>
                    </form>
                </div>
            
        </tr>

        
    }
    
</table>

            @*<a Button asp-route-id="@item.ClothingID" asp-page="./Delete" class="btn btn-primary"> Rediger</a>
                @*<form asp-page-handler="edit" method="">
            
            <button class="btn btn-default">Rediger</button>

        </form>*@



            @*<form asp-page-handler="Delete" method="post" class="btn btn-primary">*@
            @*<a Button asp-route-id="@item.ClothingID" asp-page="./Edit" asp-page-handler="test" class="btn btn-primary"> Rediger</a>*@




            <hr />





            <td>
                <form method="get">
                    <input type="submit" asp-page="./Index" class="btn btn-primary" value="Til Hovedmenuen" />

                    <input type="submit" asp-page="./Checkout" class="btn btn-primary" value="Checkout" />
                </form>

                <hr />


