@page
@model Web1.Pages.UserinformationModel
@{
    ViewData["Title"] = "Userinformation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Brugerinformation:</h1>
<hr />






<table style="width:100%;">
    <tr>


        <td>Navn</td>

        <td>Adresse</td>

        <td>By</td>

        <td>Email</td>

        <td>Køn</td>


        <td>Betalingsmetoder</td>
    </tr>


    @foreach (var item in Model.Userinf)
    {
    <tr>
        <td>  @item.fullname  </td>
        <td>  @item.Address  </td>
        <td>  @item.city  </td>
        <td>@item.email</td>
        <td>  @item.gender  </td>
        <td>@item.paymentO</td>
    </tr>
    }

    </table>

<hr />


<form method="get">    
    <input type="submit" asp-page="./Index" class="btn btn-primary" value="Til Hovedmenuen" />
</form>
<hr />
