@page
@model Web1.Pages.UserinformationModel
@{
    ViewData["Title"] = "Userinformation";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Userinformation</h1>







<table style="width:100%;">
    <tr>


        <td>Navn</td>


        <td>Adresse</td>

        <td>Køn</td>

        <td>By</td>

        <td>Email</td>

        <td>Betalingsmetoder</td>
    </tr>

    <tr>
               
        <td>@ViewData["fullname "]</td>
        <td>@ViewData["Address "]</td>
        <td>@ViewData["gender "]</td>
        <td>@ViewData["city "]</td>
        <td>@ViewData["email "]</td>
        <td>@ViewData["payment "]</td>

    </tr>
</table>



